﻿@model  Nimo.Admin.Models.AdminLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-uppercase m-b-25">Nimo Admin Login</h4>
                    <form method="post" action="/" class="form bordered-input">


                        <div class="form-group row m-b-10">
                            <label class="col-12 col-form-label op-0">Username</label>
                            <div class="col-12">
                                <div class="ico-addon addon-lg">
                                    <input asp-for="Username" class="form-control" type="text" placeholder="Username">
                                    <label class="sl-icon-paper-clip glyphicon" rel="tooltip" title="username"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row m-b-10">
                            <label class="col-12 col-form-label op-0">Password</label>
                            <div class="col-12">
                                <div class="ico-addon addon-lg">
                                    <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                                    <label class="sl-icon-eye glyphicon" rel="tooltip" title="password"></label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn waves-effect waves-light btn-square btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>