﻿
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="logo"><img src="~/images/logo.gif" alt=""></div>
<h4>Sign Up Account</h4>
<span>Please enter your user information</span>
<form method="post">
    <label><i class="fa fa-user-circle-o"></i></label>
    <input type="text" placeholder="Complete Name">
    <label><i class="fa fa-envelope"></i></label>
    <input type="text" placeholder="Email Address">
    <label><i class="fa fa-unlock-alt"></i></label>
    <input type="text" placeholder="Password">
    <label><i class="fa fa-unlock-alt"></i></label>
    <input type="text" placeholder="Confirm Password">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">I accept the <a href="#" title="">terms & Conditions</a></label>
    <button type="submit">sign up</button>
</form>
<span>Already a member? <a href="#" title="">Sign in</a></span>