﻿
@{
    ViewData["Title"] = "Customers";
}


<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex m-b-10 no-block">
                    <h5 class="card-title m-b-0 align-self-center">Customers</h5>
                </div>
                <div class="table-responsive m-t-10">
                    <table id="myTable" class="table table-orders color-table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox0" onchange="checkAll(this)" name="chk[]" type="checkbox">
                                        <label for="checkbox0"></label>
                                    </div>
                                </td>
                                <td>ID</td>
                                <td>Customer</td>
                                <td>Email</td>
                                <td>Purchases</td>
                                <td>Total Spent</td>
                                <td class="op-0">&nbsp;</td>
                                <td class="op-0">&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox21" type="checkbox">
                                        <label for="checkbox21"></label>
                                    </div>
                                <td>8524</td>
                                <td class="text-dark weight-600"><a href="#">Hakim Summers</a> </td>
                                <td>summershak@gmail.com</td>
                                <td>$1175</td>
                                <td>$8254</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox31" type="checkbox">
                                        <label for="checkbox31"></label>
                                    </div>
                                </td>
                                <td>1234</td>
                                <td class="text-dark weight-600">Eric Breinstorm</td>
                                <td>ericbrein@gmail.com</td>
                                <td>$750</td>
                                <td>$6512</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                </td>
                                <td>2651</td>
                                <td class="text-dark weight-600">Mellissa Reynolds</td>
                                <td>melreyno@gmail.com</td>
                                <td>$375</td>
                                <td>$5631</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4"></label>
                                    </div>
                                </td>
                                <td>4591</td>
                                <td class="text-dark weight-600">Jessica Abbingtom </td>
                                <td>jessabing@gmail.com</td>
                                <td>$175</td>
                                <td>$35745</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox5" type="checkbox">
                                        <label for="checkbox5"></label>
                                    </div>
                                </td>
                                <td>9821</td>
                                <td class="text-dark weight-600">Mason Hudson</td>
                                <td>mashuds@gmail.com</td>
                                <td>$515</td>
                                <td>$7842</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox61" type="checkbox">
                                        <label for="checkbox61"></label>
                                    </div>
                                </td>
                                <td>5913</td>
                                <td class="text-dark weight-600">Sasha Rhodes</td>
                                <td>sasrho@gmail.com</td>
                                <td>$2115</td>
                                <td>$8745</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox71" type="checkbox">
                                        <label for="checkbox71"></label>
                                    </div>
                                </td>
                                <td>7815</td>
                                <td class="text-dark weight-600">Mitchell Jones</td>
                                <td>mitchjo@gmail.com</td>
                                <td>$85</td>
                                <td>$2515</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox8" type="checkbox">
                                        <label for="checkbox8"></label>
                                    </div>
                                </td>
                                <td>6581</td>
                                <td class="text-dark weight-600">Nina Fox</td>
                                <td>ninafox@gmail.com</td>
                                <td>$456</td>
                                <td>$1236</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                <td>8524</td>
                                <td class="text-dark weight-600">Hakim Summers</td>
                                <td>summershak@gmail.com</td>
                                <td>$1175</td>
                                <td>$8254</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox6" type="checkbox">
                                        <label for="checkbox6"></label>
                                    </div>
                                </td>
                                <td>5913</td>
                                <td class="text-dark weight-600">Sasha Rhodes</td>
                                <td>sasrho@gmail.com</td>
                                <td>$2115</td>
                                <td>$8745</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox7" type="checkbox">
                                        <label for="checkbox7"></label>
                                    </div>
                                </td>
                                <td>7815</td>
                                <td class="text-dark weight-600">Mitchell Jones</td>
                                <td>mitchjo@gmail.com</td>
                                <td>$85</td>
                                <td>$2515</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2"></label>
                                    </div>
                                </td>
                                <td>1234</td>
                                <td class="text-dark weight-600">Eric Breinstorm</td>
                                <td>ericbrein@gmail.com</td>
                                <td>$750</td>
                                <td>$6512</td>
                                <td class="text-center"><a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="#"><i class="fas fa-trash-alt text-danger"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>