﻿@{
    ViewData["Title"] = "Home Page";
}


        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex pt-3 pb-2 no-block">
                            <div class="align-self-center mr-3"><img src="~/assets/imgs/icon/note.svg" alt="" title="" width="55"></div>
                            <div class="align-slef-center mr-auto">
                                <h2 class="m-b-0 text-uppercase font-18 font-medium lp-5">458</h2>
                                <h6 class="text-light m-b-0">Total orders</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex pt-3 pb-2 no-block">
                            <div class="align-self-center mr-3"><img src="~/assets/imgs/icon/badge.svg" alt="" title="" width="55"></div>
                            <div class="align-slef-center mr-auto">
                                <h2 class="m-b-0 text-uppercase font-18 font-medium lp-5">$1 756</h2>
                                <h6 class="text-light m-b-0">Total sales</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex pt-3 pb-2 no-block">
                            <div class="align-self-center mr-3"><img src="~/assets/imgs/icon/users.svg" alt="" title="" width="55"> </div>
                            <div class="align-slef-center mr-auto">
                                <h2 class="m-b-0 text-uppercase font-18 font-medium lp-5">21 067</h2>
                                <h6 class="text-light m-b-0">Total users</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- End Info box -->
        <!-- chart box one -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
                <div class="card panel-main o-income panel-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="loader">
                                <div class="loader__figure"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6 col-md-6">
                <div class="card panel-main o-income panel-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="loader">
                                <div class="loader__figure"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body panel-wrapper">
                        <div class="d-flex m-b-10 no-block">
                            <h5 class="card-title m-b-0 align-self-center">Popular categories</h5>
                            <div class="ml-auto text-light-blue"> <a href="#" class="pull-left text-light-blue inline-block refresh mr-15"> <i class="fas fa-sync"></i> Update </a> </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table color-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Delivery type</th>
                                        <th>QTV</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Alice Brodwain</td>
                                        <td>American Express</td>
                                        <td>15</td>
                                        <td>$85</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card panel-main o-income panel-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="loader">
                                <div class="loader__figure"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body panel-wrapper">
                        <div class="d-flex m-b-10 no-block">
                            <h5 class="card-title m-b-0 align-self-center">Top product sales</h5>
                            <div class="ml-auto text-light-blue"> <a href="#" class="pull-left text-light-blue inline-block refresh mr-15"> <i class="fas fa-sync"></i> Update </a> </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table color-table">
                                <tbody>
                                    <tr>
                                        <td><img src="~/assets/imgs/pro.jpg" alt="" title=""></td>
                                        <td>
                                            Notebook Asus Aspire <br>
                                            $375
                                        </td>
                                        <td>
                                            $9 375 <br>
                                            25 sales
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/assets/imgs/pro2.jpg" alt="" title=""></td>
                                        <td>
                                            Notebook Asus Aspire <br>
                                            $375
                                        </td>
                                        <td>
                                            $9 375 <br>
                                            25 sales
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/assets/imgs/pro3.jpg" alt="" title=""></td>
                                        <td>
                                            Notebook Asus Aspire <br>
                                            $375
                                        </td>
                                        <td>
                                            $9 375 <br>
                                            25 sales
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/assets/imgs/pro4.jpg" alt="" title=""></td>
                                        <td>
                                            Notebook Asus Aspire <br>
                                            $375
                                        </td>
                                        <td>
                                            $9 375 <br>
                                            25 sales
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/assets/imgs/pro5.jpg" alt="" title=""></td>
                                        <td>
                                            Notebook Asus Aspire <br>
                                            $375
                                        </td>
                                        <td>
                                            $9 375 <br>
                                            25 sales
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>