﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from jthemes.org/demo-admin/minton/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Aug 2019 17:26:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ECM">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/imgs/logo.gif">
    <title>Nimo Commerce Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/plugins/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/plugins/vendors/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/plugins/vendors/c3-master/c3.min.css" rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="~/plugins/vendors/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Dashboard server Page CSS -->
    <link href="~/assets/css/pages/dashboard-server.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Nimo Admin Login / Register</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <div class="container">
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/plugins/vendors/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/plugins/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/plugins/vendors/ps/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/assets/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--c3 JavaScript -->
    <script src="~/plugins/vendors/d3/d3.min.js"></script>
    <script src="~/plugins/vendors/c3-master/c3.min.js"></script>
    <!--jquery knob -->
    <script src="~/plugins/vendors/knob/jquery.knob.js"></script>
    <!--Sparkline JavaScript -->
    <script src="~/plugins/vendors/sparkline/jquery.sparkline.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/plugins/vendors/raphael/raphael-min.js"></script>
    <script src="~/plugins/vendors/morrisjs/morris.js"></script>
    <!-- Popup message jquery -->
    <script src="~/plugins/vendors/toast-master/js/jquery.toast.js"></script>
    <!-- Dashboard JS -->
    <script src="~/assets/js/dashboard-server.js"></script>
    <script src="~/assets/js/random-class.js"></script>
    <script>
        $('#slimtest1, #slimtest2').perfectScrollbar();
    </script>

    <script>
        $(".dial").knob();

        $({ animatedVal: 0 }).animate({ animatedVal: 80 }, {
            duration: 2000,
            easing: "swing",
            step: function () {
                $(".dial").val(Math.ceil(this.animatedVal)).trigger("change");
            }
        });
    </script>

</body>
</html>
