﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from jthemes.org/demo-admin/minton/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Aug 2019 17:26:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ECM">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/imgs/logo.gif">
    <title>Nimo Commerce Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/plugins/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/plugins/vendors/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/plugins/vendors/c3-master/c3.min.css" rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="~/plugins/vendors/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Page CSS -->
    <link href="~/plugins/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/plugins/vendors/product-slider/product-slider.css">
    <link href="~/plugins/vendors/bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/vendors/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/vendors/dropify/dist/css/dropify.min.css">
    <!-- page css -->
    <link href="~/assets/css/pages/file-upload.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Nimo Admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Container1140px -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <div Class="container">
                <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Admin/Index">
                            <!-- Logo icon -->
                            <b>
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img style="height:50px" src="~/assets/imgs/logo.gif" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img style="height:50px" src="~/assets/imgs/logo.gif" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="top-bar-main">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <div class="float-left">
                            <ul class="navbar-nav">
                                <li class="nav-item "><a class="nav-link navbar-toggler sidebartoggler waves-effect waves-dark float-right" href="javascript:void(0)"><span class="navbar-toggler-icon"></span></a></li>
                                <!-- ============================================================== -->

                            </ul>
                        </div>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <div class="float-right pr-3">
                            <ul class="navbar-nav my-lg-0 float-right">

                                <!-- Profile -->
                                <!-- ============================================================== -->
                                <li class="nav-item dropdown u-pro">
                                    <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/imgs/placeholder-person.png" alt="user" class="" /><span class="circle-status"></span></a>
                                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                                        <ul class="dropdown-user">
                                            <li class="text-center">
                                                <div class="dw-user-box">
                                                    <div class="u-img"><img src="~/assets/imgs/placeholder-person.png" alt="user"></div>
                                                    <div class="clearfix"></div>
                                                    <div class="u-text">
                                                        <h4>Nimo Admin</h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#"><i class="fas fa-user mr-1"></i> My Profile</a></li>
                                            <li><a href="#"><i class="fas fa-cog mr-1"></i> Settings</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#"><i class="fas fa-sign-in-alt mr-1"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="container">
            <aside class="left-sidebar">
                <ul class="nav-bar navbar-inverse hidden-xs-down">
                    <li class="nav-item"> <a class="nav-link navbar-toggler sidebartoggler  waves-effect waves-dark float-right" href="javascript:void(0)"><span class="navbar-toggler-icon"></span></a> </li>
                </ul>
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="clearfix"></li>
                            <li class="active">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="flaticon-restaurant"></i><span class="hide-menu">Ecommerce</span></a>
                                <ul aria-expanded="false" class="collapse in">
                                    <li class="active"><a href="/Admin/Index">Dashboard</a></li>
                                    <li><a href="/Products/Index">Product List</a></li>
                                    <li><a href="/Products/Add">Add new product</a></li>
                                    <li><a href="/Category/Index">Categories</a></li>
                                    <li><a href="/Orders/Index">Orders</a></li>
                                </ul>
                            </li>

                            <li><a href="/Customers/Index"><i class="far fa-address-book"></i> <span class="hide-menu">Customers</span></a></li>
                            @*<li><a href="chats.html"><i class="flaticon-speech"></i><span class="hide-menu">Chat</span></a></li>*@

                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/plugins/vendors/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/plugins/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/plugins/vendors/ps/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/assets/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--c3 JavaScript -->
    <script src="~/plugins/vendors/d3/d3.min.js"></script>
    <script src="~/plugins/vendors/c3-master/c3.min.js"></script>
    <!--jquery knob -->
    <script src="~/plugins/vendors/knob/jquery.knob.js"></script>
    <!--Sparkline JavaScript -->
    <script src="~/plugins/vendors/sparkline/jquery.sparkline.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/plugins/vendors/raphael/raphael-min.js"></script>
    <script src="~/plugins/vendors/morrisjs/morris.js"></script>
    <!-- Popup message jquery -->
    <script src="~/plugins/vendors/toast-master/js/jquery.toast.js"></script>
    <!-- Tag input Jquery -->
    <script src="~/plugins/vendors/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/vendors/switchery/dist/switchery.min.js"></script>
    <script>
        $(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });

        });
    </script>
    <!-- product jquery -->
    <script src="~/plugins/vendors/product-slider/product-slider.js"></script>
    <script src="~/plugins/vendors/product-slider/product-slider.init.js"></script>
    <!-- jQuery file upload -->
    <script src="~/plugins/vendors/dropify/dist/js/dropify.min.js"></script>
    <script>
        $(function () {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/plugins/vendors/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
